/* body{
    background-color: aquamarine;
} */

#main{
    display: block;
}
.carte{
    height : 180px;
    width : 180px;
    margin : 10px;
    cursor: pointer;
    background-color: violet;
}
.image{
    width  : 100%;
    height : 100%;
    display : none;
}